footer{
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    background-color: var(--black);
    text-align: center;
    font-family: Lato, sans-serif;
  }

  footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  footer .main-footer-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--black);
    justify-content: center;
    align-items: center;
    gap: 22px;
    padding: 0 20px;
  }
  
  .main-footer-container section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-container-logo{
    width: auto;
  }
  
  .footerlogo{
    background-image: url('../../static/imgs/SVG/logo-obs-gold.svg');
    width: 41.76px;
    height: 104.28px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  footer .footer-container-schedule{
    width: auto;
    height: auto;
    color: var(--white);
    font-size: 2.5vh;
    text-decoration: none;
  }
  
  footer .footer-container-schedule ul{
    list-style: none;
  }
  
  .footer-container-schedule ul li:first-child {
    line-height: 2.5; /* Interlineado específico para la primera línea */
  }
  
  footer .footer-container-branches{
    width:auto;
    height: auto;
    color: var(--white);
    font-size: 2.5vh;
    text-decoration: none;
  }
  
  footer .footer-container-branches ul{
    list-style: none;
  }
  
  .footer-container-branches ul li:first-child {
    line-height: 2.5;
  }
  
  footer .footer-container-socialnetworks{
    width:auto;
    height: auto;
    color: var(--white);
    font-size: 2.5vh;
    text-decoration: none;
  }
  
  footer .footer-container-socialnetworks ul{
    list-style: none;
    justify-content: center;
    align-items: center;
  }
  
  .footer-container-socialnetworks li:nth-last-child(-n+2) a {
    display: block;
    text-align: center;
  }
  
  .footer-container-socialnetworks ul li:first-child {
    line-height: 2.5;
  }
  
  
  .svg-icon{
    fill: var(--official-gold);
  }
  
  footer .sign-footer-section{
    display: block;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-top: 3.5vh;
    padding-bottom: 3.5vh;
    background-color: var(--black);
    text-align: center;
  }
  
  .sign-footer-section a{
    text-decoration: none;
    color: var(--white);
  }
  
  .sign-container-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 15px;
  }
  
  .sign-container-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-weight: bold;
    font-size: 2.5vh;
  }
  
  .sign-container-name{
    height: auto;
    width: auto;
    padding-top: 2vh;
    color: var(--gray);
    font-size: 0.8rem;
  }