
:root {
    --official-purple: #B15EEC;
    --black: #0E1010;
    --dark-gray: #272D2B;
    --gray: #8D8D8D;
    --white: #fff;
}

@font-face {
    font-family: 'Bajern';
    src: url('/static/fonts/Bajern.otf');
    /* Agrega otros atributos de fuente como font-weight y font-style si es necesario */
  }  

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bajern', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--white);
    background-color: var(--black);
}

body h1 {
    font-family: 'Bajern', sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
    /* color: var(--white); */
}

.gallery img {
    width: 100%;
    height: auto;
/*  object-fit: cover;
    object-position: center; */
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
/*     transition: all 0.5s ease-in-out; */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 0.9fr));
    /* gap: 24px; */
    background-color: var(--black);
}